.topLoadBar,
.bottomLoadBar,
.leftLoadBar,
.rightLoadBar {
  background-color: #1f3d50;
  position: absolute;
  z-index: 1000;
}

.topLoadBar,
.bottomLoadBar {
  height: 6px;
  width: 100vw;
}

.topLoadBar {
  top: 0%;
  animation: top-bar-move 12s linear forwards;
}

.bottomLoadBar {
  top: 99.2%;
  animation: bottom-bar-move 12s linear forwards;
}

.leftLoadBar,
.rightLoadBar {
  height: 100%;
  width: 6px;
}

.leftLoadBar {
  left: 0%;
  animation: left-bar-move 12s linear forwards;
}

.rightLoadBar {
  left: 99.6%;
  animation: right-bar-move 12s linear forwards;
}

.infoLoad {
  position: absolute;
  background-image: url("E:\repos 2\real-projects\PersonalSite\personal-site\src\images\SWBFII_Geonosis.png");
  background-size: contain;
  top: 45%;
  left: 50%;
  width: 10%;
  height: 20%;
  z-index: 49;
  animation: expand-box 12s linear forwards;
}

@keyframes left-bar-move {
  0%,
  42% {
    left: 0%;
  }
  50%,
  57% {
    left: 50%;
  }

  58%,
  100% {
    left: 0%;
  }
}

@keyframes right-bar-move {
  0%,
  42% {
    left: 99.6%;
  }

  50%,
  57% {
    left: 60%;
  }
  58%,
  100% {
    left: 99.6%;
  }
}

@keyframes top-bar-move {
  0%,
  42% {
    top: 0%;
  }
  50%,
  57% {
    top: 45%;
  }
  58%,
  100% {
    top: 0%;
  }
}

@keyframes bottom-bar-move {
  0%,
  42% {
    top: 99.2%;
  }
  50%,
  57% {
    top: 65%;
  }
  58%,
  100% {
    top: 99.2%;
  }
}

@keyframes expand-box {
  0%,
  57% {
    top: 45%;
    left: 50%;
    width: 10%;
    height: 20%;
    background-size: cover;
    opacity: 0%;
    filter: blur(4em);
  }
  58%,
  100% {
    opacity: 1;
    background-size: auto;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    filter: blur(0em);
  }
}
