#pageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.greetingContainer {
  width: 30%;
  justify-content: flex-end;
}

.greeting {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  transition: top ease 0.5s;
  position: relative;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
    top: -2em;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
    top: -2em;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    top: -2em;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
    top: -2em;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
