#pageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.pageContainerImage {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  display: block;
  background-image: url("https://img.freepik.com/premium-photo/starfield-deep-space-many-light-years-far-from-earth_112293-501.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  filter: contrast(150%);
}

.greetingContainer {
  width: 30%;
  height: 30vh;
}

.greeting {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  transition: top ease 0.5s;
  position: relative;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  top: 3em;
}

@keyframes fadein {
  from {
    opacity: 0;
    top: -2em;
  }
  to {
    opacity: 1;
    top: 3em;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
    top: -2em;
  }
  to {
    opacity: 1;
    top: 3em;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    top: -2em;
  }
  to {
    opacity: 1;
    top: 3em;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
    top: -2em;
  }
  to {
    opacity: 1;
    top: 3em;
  }
}
